.flipX {
  transform: scaleX(-1);
}

.buzzerButton{
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px;
  margin: 0px;
  border:none;
  border-radius: 1em;
}

.buzzerButton:hover{
  color: lightgreen;
  box-shadow: lightgreen 0em 0em 0.7em;
}