.customCard {
  height: 11em;
  width: 7em;
  margin-bottom: 5px;
  box-shadow: #222222 .5em .5em .5em;
  background-color: #EFEFEF;
  border-radius: .5em;
  border: .1rem #888888 solid;
  color: #3279f4;
}

.customCard:hover{
  top:-.7em;
  position: relative;
  cursor: pointer;
  box-shadow: #222222 .8em 1.1em .9em;
}

.customCardSelected {
  background-color: #b5bcf1;
  margin-bottom: 5px;
  border: #c6daff .1rem solid;
  color: white;
  text-shadow: -1px 1px 0 #c6daff, 1px 1px 0 #c6daff, 1px -1px 0 #c6daff, -1px -1px 0 #c6daff;
}

.contentCard {
  height: 5em;
}

.valueCard {
  font-size: 2.5em;
  /*width: 1em;*/
}

.logoBottom {
  transform: rotate(180deg);
}


@media (max-width: 576px) {
  .customCard {
    height: 7em;
    width: 5em;
  }
  .logoBottom {
    transform: rotate(180deg);
  }
  .valueCard {
    font-size: 3.5em;
    width: inherit;
  }

  .contentCard {
    padding-top: 1em;
  }
}
