html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}
.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playingMat {
  border-left: 0.3rem #ffff0066 solid;
  border-right: 0.3rem #ffff0066 solid;
  border-radius: 1em;
  background-color: #ffff0015;
}

.roomStatus {
  border-radius: 1em;
  background-color: #ffffff22;
  color: white;
}

/* Add the neon animation and gold color to the button border */
.border-neon-gold {
  border: 2px solid gold;
  animation: neon 2s ease-in-out infinite alternate;
}

/* Create the neon animation */
@keyframes neon {
  0% {
    box-shadow: 0 0 00px gold;
  }
  /*   50% {
    box-shadow: 0 0 10px gold;
  } */
  100% {
    box-shadow: 0 0 20px gold;
  }
}

.easter-egg {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 999;
}

.easter-egg-mobile {
  position: fixed;
  bottom: 4em;
  left: 90%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

.easter-egg-icon {
  color: gold;
  font-size: 70px;
  background-color: transparent;
  animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
