.flipX {
  transform: scaleX(-1);
}

.blocfighter {
  position: relative;
  text-align: center;
  color: white;
  font: 800 80px Arial;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.45);
  -webkit-text-stroke: 1px;
}

.blocfighter img{
  -webkit-filter: drop-shadow(0px 0px 5px yellow);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollcontainer {
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}

.scrolltext {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
